In [1]:
import pandas as pd
import numpy as np

In [11]:
hop_csv = "Resources/purchase_data.csv"
purchase_data = pd.read_csv('Resources/purchase_data.csv')
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [31]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [30]:
#Calculating the total player count
player_counts = purchase_data["SN"].value_counts()
len(player_counts)

576

In [ ]:
#Starting the Purchasing Analysis table values

In [34]:
unique_items = purchase_data["Item ID"].value_counts()
len(unique_items)

179

In [36]:
avg_price = purchase_data["Price"].mean()
avg_price

3.050987179487176

In [41]:
tot_purch = purchase_data["Purchase ID"].value_counts()
len(tot_purch)

780

In [43]:
tot_rev = purchase_data["Price"].sum()
tot_rev

2379.77

In [44]:
#Compiling the data into a dataframe

In [ ]:
#Gender Demographics